.container{
  padding: 5vh;
}
.login-form{
  margin: auto;
  background-color: rgb(255, 249, 255);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(146, 144, 144, 0.2);
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
