<div class="container" [ngStyle]="{'padding': padding}">
  <div class="login-form">
    <form class="form" [formGroup]="signupForm" novalidate (ngSubmit)="signup()">
      <div>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>帳號</mat-label>
            <input matInput type="text" formControlName="email" class="form-control" [(ngModel)]="email">
            <button mat-icon-button matSuffix>
              <mat-icon></mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>密碼</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p *ngIf="errorMessage.length > 0" >{{errorMessage}}</p>
        <p *ngIf="error.message.length > 0" class="text-danger">{{error.message}} </p>
        <button type="submit" class="navbar-button" mat-button [disabled]="!signupForm.valid">登入</button>
      </div>
    </form>
  </div>
</div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBq9rASBCD5vBonaQhb7UdGCmLRGW73JHk",
    authDomain: "pineapple-d8234.firebaseapp.com",
    projectId: "pineapple-d8234",
    storageBucket: "pineapple-d8234.appspot.com",
    messagingSenderId: "865849614449",
    appId: "1:865849614449:web:2f82a5985678ec5c31fbd0",
    measurementId: "G-QZXQ6G057N"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
